<div class="container mt-1">
    <!-- header part -->
    <div class="row">
        <div class="col">
            <!-- title -->
            <h1 class="text-primary"><i class="fa-solid fa-eye  me-2"></i> View Contact Page </h1>
            <!-- content -->
            <p class="mt-3" style="text-align: justify;">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa in ratione error veniam, laborum quos est nihil repellendus adipisci recusandae, vitae dolor officia fuga id laudantium aliquam doloremque fugiat maiores. Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus ratione repudiandae culpa? Exercitationem iusto aliquid sint laudantium at, perferendis, doloribus dolor delectus id modi architecto soluta quidem libero, vero dicta. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat quasi natus voluptates hic recusandae, consectetur reprehenderit repudiandae explicabo nihil non! Excepturi sint quo illo soluta illum aspernatur sit architecto? Expedita. Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            </p>
        </div>
    </div>

    <!-- row -->
    <div class="row mt-5 justify-content-center">
        <div class="card p-2 d-flex justify-content-center align-items-center" style="width: 40rem;">
            <img class="contact_img" [src]="contact.photo" alt="contact">

            <div class="card-body text-center">
              <h5 class="card-title fw-bolder text-danger">{{contact.name}}</h5>
              <p class="card-text text-primary"> Mobile: {{contact.mobile}} </p>
              <p class="card-text text-success"> E mail: {{contact.email}} </p>
              <p class="card-text text-warning"> Company: {{contact.company}} </p>
              <p class="card-text text-info"> Title: {{contact.title}} </p>
              <p class="card-text text-secondary"> Group: {{groupName}} </p>

            </div>
          </div>
    </div>
</div>